.job-container {
    max-width: 67.5rem;
    margin: -2.25em auto 0;
    position: relative;
    opacity: 999;
}

.job-search-box {
    border-radius: 6px;
    border: 1px solid $border-color;
}

.job-search-form {
    flex-flow: row nowrap;
    font-size: 1rem;

    &__item {
        flex: 3;
        width: 100%;
        padding: 1.25em 1.5em;
        border-right: 2px solid $border-color;

        &:last-child {
            border-right: none;
        }

        &--lg {
            flex: 3.5;
        }
    }

    /* override chrome autofill background color */
    input:-webkit-autofill {
        background-color: transparent !important;
        -webkit-box-shadow: 0 0 0 50px white inset;
    }

    .search-input {
        width: 100%;
        padding: 0 0.1em;
        border: none;
        font-size: 1em;
        outline: none;
    }

    .fa {
        margin-right: 0.4em;
        font-size: 1.25em;
        color: $purple;
    }
}

/* checkbox */
.checkbox-container {
    display: block;
    position: relative;
    font-size: 1em;
    padding-left: 1.75em;;
    cursor: pointer;
    user-select: none;

    .checkmark {
        position: absolute;
        top: -1px;
        left: 0;
        height: 18px;
        width: 18px;
        background-color: $gray-dark;

        &:after {
            content: "";
            position: absolute;
            display: none;
            left: 6px;
            top: 4px;
            width: 6px;
            height: 10px;
            border: 1px solid white;
            border-width: 0 3px 3px 0;
            transform: rotate(45deg);
        }
    }

    /* hide deafult */
    input {
        position: absolute;
        opacity: 0;
        height: 0;
        width: 0;
        cursor: pointer;
    }

    input:checked ~ .checkmark, input:hover ~ .checkmark {
        background-color: $purple;
    }

    input:checked ~ .checkmark:after, input:hover ~ .checkmark:after{
       display: block;
    }
}

/* Job list */
.job-list {
    &-box {
        margin: 4.5em auto 2em;
    }

    &-wrap {
        display: flex;
        align-items: stretch;
        justify-content: flex-start;
        flex-flow: row wrap;
        list-style-type: none;
    }

    &-item {
        border-radius: 6px;
        border: 1px solid $border-color;
        width: calc((100% - 3rem) / 3);
        // flex: 1 1 30%;
        padding: 1.5em;
        margin: 0 1.5em 3em 0;

        &:nth-child(3n) {
            margin-right: 0;
        }

        &-link {
            display: flex;
            flex-direction: column;
            color: inherit;
            height: 100%;
        }
    }

    &-job {
        &-img-wrap {
            margin-top: -2.75em;

            img {
                padding: 4px;
                object-fit: contain;
                border: 1px solid $gray-darker;
                border-radius: 12px;
                background-color: $white;
            }
        }

        &-info {
            font-size: 1em;
            color: $gray-darker;
            margin: 1em 0;
        }

        &-location {
            margin-top: 2em;
            font-size: 0.875em;
            color: $purple;
        }
    }
}

.errorMsg {
    color: $gray-darker;
}

@media (prefers-color-scheme: dark) {
    .bg-second {
        background-color: $bg-color-white-drak;
    }
    .job-list-job-title {
        color: $white;
    }
    .checkbox-container {
        color: $white;
    }
    .search-input {
        background-color: $bg-color-white-drak;
    }
    .border-second {
        border-color: $bg-color-white-drak;
    }
}

@media (prefers-color-scheme: light) {
    .bg-second {
        background-color: $bg-color-white;
    }
    .job-list-job-title {
        color: black;
    }
    .checkbox-container {
        color: black;
    }
    .search-input {
        background-color: $bg-color-white;
    }
    .border-second {
        border-color: $border-color;
    }
}
