.job-container {
    margin: -1.5em 1.25em 0;
    position: relative;
    opacity: 999;

    @include screen-small {
        margin: -2.25em 1.5em 0;
    }

    @include screen-large {
        max-width: 60rem;
        margin: -2.25em auto 0;
    }

    @include screen-xlarge {
        max-width: 67.5rem;
    }
}

.job-search-box {
    border-radius: 6px;
    border: 1px solid $border-color;
}

.job-search-form {
    font-size: 0.875rem;
    flex-direction: column;

    @include screen-medium {
        flex-flow: row nowrap;
        flex-direction: row;
    }

    @include screen-large {
        font-size: 1rem;
    }

    &__item {
        flex: 3;
        width: 100%;
        padding: 1em;
        border-bottom: 1px solid $border-color;

        @include screen-medium {
            border-right: 2px solid $border-color;
            border-bottom: none
        }

        @include screen-large {
            padding: 1.25em 1.5em;
        }

        &:last-child {
            border: none;
        }

        &--lg {
            flex: 3;

            @include screen-large {
                flex: 3.5;
            }
        }
    }

    &__filter-icon {
        width: 25px;
        cursor: pointer;
    }

    /* override chrome autofill background color */
    input:-webkit-autofill {
        background-color: transparent !important;
        -webkit-box-shadow: 0 0 0 50px white inset;
    }

    .search-input {
        width: 100%;
        padding: 0 0.1em;
        border: none;
        font-size: 1em;
        outline: none;
    }

    .fa {
        margin-right: 0.4em;
        font-size: 1.25em;
        color: $purple;
    }
}

.job-search-btn--mobile {
    background-color: $purple;
    border-color: $purple;
    color: $white;
    cursor: pointer;
    width: 24px;
    height: 22px;
    position: relative;

    .fa {
        color: $white;
        margin: 0 auto;
        font-size: 0.875em;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

/* checkbox */
.checkbox-container {
    display: block;
    position: relative;
    font-size: 1em;
    padding-left: 1.75em;;
    cursor: pointer;
    user-select: none;

    .checkmark {
        position: absolute;
        top: -1px;
        left: 0;
        height: 18px;
        width: 18px;
        background-color: $gray-dark;

        &:after {
            content: "";
            position: absolute;
            display: none;
            left: 6px;
            top: 4px;
            width: 6px;
            height: 10px;
            border: 1px solid white;
            border-width: 0 3px 3px 0;
            transform: rotate(45deg);
        }
    }

    /* hide deafult */
    input {
        position: absolute;
        opacity: 0;
        height: 0;
        width: 0;
        cursor: pointer;
    }

    input:checked ~ .checkmark, input:hover ~ .checkmark {
        background-color: $purple;
    }

    input:checked ~ .checkmark:after, input:hover ~ .checkmark:after{
       display: block;
    }
}

/* Job list */
.job-list {
    &-box {
        margin: 3em auto 2em;

        @include screen-large {
            margin: 4.5em auto 2em;
        }
    }

    &-wrap {
        display: flex;
        align-items: stretch;
        justify-content: flex-start;
        flex-flow: row wrap;
        list-style-type: none;
    }

    &-item {
        border-radius: 6px;
        border: 1px solid $border-color;
        width: 100%;
        padding: 1em;
        margin: 0 0 2.5em 0;
        font-size: 0.875rem;

        @include screen-medium {
            width: calc((100% - 1.25rem) / 2);
            margin: 0 1.25rem 2.75em 0;
        }

        @include screen-medium {
            width: calc((100% - 2.5rem) / 3);
        }

        @include screen-large {
            width: calc((100% - 3rem) / 3);
            padding: 1.5em;
            margin: 0 1.5rem 3em 0;
            font-size: 1rem;
        }

        &:nth-child(2n) {
            @include screen-small {
                margin-right: 0;
            }

            @include screen-medium {
                margin-right: 1.25em;
            }
        }

        &:nth-child(3n) {
            @include screen-medium {
                margin-right: 0;
            }
        }

        &-link {
            display: flex;
            flex-direction: column;
            color: inherit;
            height: 100%;
        }
    }

    &-job {
        &-img-wrap {
            margin-top: -2.25em;

            @include screen-large {
                margin-top: -2.75em;
            }

            img {
                padding: 4px;
                object-fit: contain;
                border: 1px solid $gray-darker;
                border-radius: 12px;
                background-color: $white;
            }
        }

        &-info {
            font-size: 1em;
            color: $gray-darker;
            margin: 1em 0;
        }

        &-location {
            margin-top: 2em;
            font-size: 0.875em;
            color: $purple;
        }
    }
}

.errorMsg {
    color: $gray-darker;
}

@media (prefers-color-scheme: dark) {
    .bg-second {
        background-color: $bg-color-white-drak;
    }
    .job-list-job-title {
        color: $white;
    }
    .checkbox-container {
        color: $white;
    }
    .search-input {
        background-color: $bg-color-white-drak;
    }
    .border-second {
        border-color: $bg-color-white-drak;
    }
}

@media (prefers-color-scheme: light) {
    .bg-second {
        background-color: $bg-color-white;
    }
    .job-list-job-title {
        color: black;
    }
    .checkbox-container {
        color: black;
    }
    .search-input {
        background-color: $bg-color-white;
    }
    .border-second {
        border-color: $border-color;
    }
}
