@import "variables";
@import "mixins";

*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    box-sizing: border-box;
    font-family: $main-font;
    font-weight: $font-normal;
    line-height: 1;
}

a {
    text-decoration: none;
    color: inherit;
}

@media (prefers-color-scheme: dark) {
    .dark-scheme { background:  #333; color: white; }
    body {
        background-color: $bg-color-dark;
    }
}

@media (prefers-color-scheme: light) {
    .light-scheme { background: white; color:  #555; }
    body {
        background-color: $bg-color;
    }
}

h1 {
    font-size: 1.25em;

    @include screen-medium {
        font-size: 1.5em;
    }
}

h2 {
    font-size: 0.875em;

    @include screen-medium {
        font-size: 1.25em;
    }
}

.primary-btn {
    background: $purple;
    border: 0;
    border-radius: 4px;
    color: $white;
    cursor: pointer;
    display: inline-block;
    font-size: 0.75em;
    font-weight: $font-bold;
    padding: .6em 1.25em;
    text-align: center;

    @include screen-medium {
        font-size: 0.875em;
        padding: .6em 1.3em;
    }

    &:hover {
        background: $purple-light;
    }
}

.secondary-btn {
    display: inline-block;
    border-radius: 4px;
    background-color: $gray-dark;
    color: $purple;
    font-weight: $font-bold;
    font-size: 0.75em;
    padding: .6em 1.25em;
    text-align: center;
    cursor: pointer;

    @include screen-medium {
        font-size: 0.875em;
        padding: .6em 1.3em;
    }

    &:hover {
        background-color: $gray-light;
    }
}

/* Loading Spinner */
.loader {
    border: 10px solid $gray-dark;
    border-radius: 50%;
    border-top: 10px solid $purple;
    display: block;
    width: 60px;
    height: 60px;
    margin: 2.5em auto;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;

    @include screen-small {
        margin: 3em auto;
    }

    @include screen-medium {
        width: 80px;
        height: 80px;
        margin: 4em auto;
    }

    @include screen-large {
        width: 100px;
        height: 100px;
    }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
