.flex-center {
    display: flex;
    align-items: center;
}

.flex-grow-1 {
    flex-grow: 1!important;
}

.space-between {
    justify-content: space-between;
}

.desktop-view {
    display: none;

    @include screen-medium {
        display: block;
    }
}

.desktop-flex {
    display: none;

    @include screen-medium {
        display: flex;
    }
}

.mobile-view {
    display: block;

    @include screen-medium {
        display: none;
    }
}

.showFlex {
    display: flex !important;
}
