$purple: #5865E0;
$purple-light: #6c77dc;
$gray-light: #F5F6F8;
$gray-dark: #e1e4ea;
$white: #FFFFFF;
$blue-dark: #131822;
$blue-light: #19212D;

$main-font: Arial, Helvetica, sans-serif;
$font-normal: 500;
$font-bold: 700;

$bg-color: $gray-light;
$border-color: $gray-light;